
body{
    background-color: rgb(203, 234, 244);
}
.calculator{
    border:2px solid black;
    max-width:max-content;
    padding:10px;
    border-radius:10px;
    background-color:rgb(44, 31, 86);
    margin:auto;
    max-height: max-content;
    
}

#number{
    background-color: rgb(168, 186, 235);
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 85%;
    height: 40px;
    font-size: 25px;
}
.c{
    width:80px;
    height:80px;
    margin:2px;
    font-size:45px;
    font-weight:bold;
    border-radius:5px;
    border:1px solid black;
    background-color: rgb(56, 57, 69);  
     cursor: pointer;
    transition: 0.5s;
}

.c:hover{
    background-color: rgb(34, 35, 35);
    transform:scale(0.9);
}
#y{
    text-align: center;
    color: rgb(80, 14, 69);

}